* {
  box-sizing: border-box;
}

html {
  background-color: #e5e5e5;
  font-family: 'Inter', sans-serif;
}

.logo {
  margin-top: 40px;
}

.main-section {
  margin-top: 40px;
  margin-left: 168px;
}

.main-section__message {
  font-size: 32px;
  color: darkblue;
}

.buttons-section {
  margin-top: 40px;
}

.buttons-section__legend {
  display: flex;
}

.exclamation-image {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.buttons-section__message {
  margin-bottom: 10px;
  font-size: 12px;
  color: gray;
}

.button {
  height: 67px;
  width: 328px;
  border-radius: 25px;
  border: 1px solid #0e2f58;
}

.button__encrypt {
  color: #fff;
  background-color: #0e2f58;
  margin-right: 24px;
}

.button__decrypt {
  color: #0e2f58;
  background-color: #d8dfe8;
  margin-right: 24px;
}

.aside-section {
  position: absolute;
  top: 40px;
  right: 30px;
  height: 944px;
  width: 400px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}

.aside-section__image {
  margin-top: 150px;
}

.aside-section__text-container {
  width: 75%;
  margin: 0 auto;
}

.aside-section__text--normal {
  font-size: 24px;
  font-weight: 700;
}

.aside-section__text--small {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
}
