* {
  box-sizing: border-box;
}

html {
  background-color: #e5e5e5;
}

.logo {
  margin-top: 40px;
}

.main-section {
  margin-top: 40px;
  margin-left: 168px;
}

.main-section__message {
  font-size: 32px;
  color: darkblue;
}
